.navigation-container {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
  position: sticky;
  z-index: 10;
  top: 0;
  background-color: rgba($color: #fff, $alpha: 0.9);

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px 0;
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      padding: 10px 15px;
      cursor: pointer;

      &:first-child {
        color: #6fbc29;
      }

      &:last-of-type {
        padding: 10px 0;
      }

      &:hover {
        color: #6fbc29;
      }

      &::selection {
        color: #6fbc29;
      }
    }
  }
}

.active {
  color: #6fbc29;
}
