@mixin shrinkLabel {
  top: -14px;
  font-size: 12px;
}

.form-input-group {
  position: relative;
  margin: 45px 0 0 0;

  .form-input {
    background: none;
    background-color: black;
    color: white;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #6fbc29;
    margin: 25px 0 10px 0;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }

    &.green {
      background-color: #f4ffe7;
      color: black;
      border-bottom: 1px solid rgb(5, 58, 5)
    }
  }

  .form-input-label {
    color: #6fbc29;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }

    &.green {
      color: rgb(6, 83, 6);
    }
  }
}
