.signup-form-container {
    width: 380px;
    .signup-form-title {
      color: rgb(6, 83, 6);
    }
    .signup-form-subtitle {
      color: rgb(6, 83, 6);
    }

    button {
        height: auto;
        margin-top: 50px;
    }
}