.testimonial-section-container {
  display: flex;
  flex-direction: row;
  padding: 50px 60px 50px 60px;

  .testimonial-section_carousel {
    width: 50%;
    padding: 20px;

    // height: 100px;
  }

  .testimonial-section_image {
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
